.background {
    background-color: rgb(204, 219, 231);
    padding-top: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inside {
    width: 100%;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer; 
    color: gray;/* Ensure the cursor changes on hover */
  }
  
.delete-button:hover {
color: rgb(120, 113, 248); /* Change color on hover if desired */
}
  

.form-control {
    border: none;
  }

.checklist {
    border-radius: 3%;
    box-shadow: 2px 2px 2px;
    background-color: rgb(253, 253, 253);
    width: 300px;
    height: 280px;
    margin: 0 auto;
    padding-top: 10px;
}

.title {
    text-align: center;
}

.scroll {
    margin: 3px;
    max-height: 200px;
    overflow-y: scroll;
}

/* Webkit系ブラウザのスクロールバーを非表示にする */
.scroll::-webkit-scrollbar {
    display: none;
}


.lists ul {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}

.ms-auto {
   color: gray;
}

.functions {
    display: flex;
  }

.lists li {
    
    border-bottom: 1px solid gray;
}

.approach {
    height: 100px;
    width: 360px;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
}

.progress {
    position: absolute;
    bottom: 25px;
    width: 300px; /* 横幅を指定 */
    margin-left: 30px;
  }

.start {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.lists .done-list li label {
    position: relative;
}

.lists .done-list li label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: rgb(250, 32, 68); /* Change to the desired color */
}

.modal {
    /* ここにモーダルの初期状態のスタイルを追加 */
    display: none;
  }
  
  .modal.show {
    /* モーダルが表示される際のスタイルを追加 */
    display: block;
  }
 .cards {
    width: 300px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 40px;
 }
 .item-button {
    text-align: center;
 }

 .cards button.btn {/* ボタンのテキストのサイズを大きくする */
    padding: 20px 30px; /* 上下左右の余白を増やしてボタンのサイズを大きくする */
}


.svg {
    transition: transform 0.3s ease; /* 移動がスムーズになるように */
}
  
